<div class="container">
  <mat-card>
    <mat-card-header class="header">
      <img src="assets/services/verified_user-black-18dp.svg">Book with pet sitters you can&nbsp;<span class="font-weight-bold">trust</span>
    </mat-card-header>
    <mat-card-content class="content">
      <div><img src="assets/services/done-24px.svg"> All new sitters pass a basic background check</div>
      <div><img src="assets/services/done-24px.svg">All sitters provide a detailed profile and personal information</div>
      <div><img src="assets/services/done-24px.svg"> All sitters are approved by our team of sitter specialists</div>
    </mat-card-content>
  </mat-card>
</div>
