.header{
  padding: 10px 0;
  background-color: #F4F5F6;
  font-size: 1.3rem;
  border-bottom: 1px solid #CFD7DE;
}
.content{
  padding: 10px 0 10px 10px;
  font-size: 1.2rem;
  background-color: #FFF;
}
 .mat-card{
}

 mat-card{
   width: 530px;
   padding: 0px;
   border: 1px solid #CFD7DE;
   margin: 0 auto;
 }
