<div class="container-fluid">

  <div class="row">
    <div class="col">
      <mat-card class="service">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4 class="text-left">Boarding</h4></mat-card-title>
          <mat-card-subtitle class="text-left">Perfect if you need overnight pet care.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col ">
      <mat-card class="service">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4 class="text-left">House Sitting</h4></mat-card-title>
          <mat-card-subtitle class="text-left">Great if you need overnight pet or house-sitting services.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col ">

      <mat-card class="service">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4 class="text-left">Dog Walking</h4></mat-card-title>
          <mat-card-subtitle class="text-left">Whenever your dog needs a walk.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col ">
      <mat-card class="service">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4 class="text-left">Doggy Day Care</h4></mat-card-title>
          <mat-card-subtitle class="text-left">Daytime pet care in your sitter’s dog-friendly home.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col ">
      <mat-card class="service">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4 class="text-left">Drop-In Visits</h4></mat-card-title>
          <mat-card-subtitle class="text-left">For check-ins and play dates.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


</div>
